
<h1><%= @pic.title %></h1>

<p><%= link_to "Delete", "/pictures/#{@pic.id}", :method => :delete %>
	<%= link_to "Edit", edit_picture_url(@pic.id) %>
	</p>
	
<%= image_tag @pic.url, :width => 1000 %>

<h2><%= @pic.note %></h2>